@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* 自定义滚动条样式 */
html {
  overflow-y: overlay;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  border: 2px solid transparent;
  background-clip: content-box;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

/* 防止滚动条渗入到页眉 */
.fixed {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded-md font-semibold transition-colors duration-200;
  }
  
  .btn-primary {
    @apply bg-primary text-white hover:bg-primary/90;
  }
  
  .btn-secondary {
    @apply bg-secondary text-white hover:bg-secondary/90;
  }
  
  .container-custom {
    @apply container mx-auto px-4;
  }
} 